@model IEnumerable<BlackboardDatabase.Models.CourseStudent>

@{
    ViewData["Title"] = "DetailsTeachers";
}
<h2>@Model.First().CourseName</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentAUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Assignment" asp-action="SpecificAssignments" asp-route-studentAUID="@item.StudentAUID" asp-route-courseName="@item.CourseName">Students Assignments in this course </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
    
</div>