@model BlackboardDatabase.Models.CourseContent

@{
    ViewData["Title"] = "CourseContent";
}
<h2>Course Content information</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseContentId)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CourseName)
            </td>
            <td>
                @Html.DisplayFor(model => model.CourseContentId)
            </td>
            
        </tr>
    
    
    </tbody>
    
</table>

<div>
    <a asp-action="Folders" asp-route-courseContentId="@Model.CourseContentId">See Folders</a>
</div>
